/* Application-wide Styles */
h1 {
  color: whitesmoke;
  text-align: center;
  font-family: "Brush Script MT";
  font-size: 400%;
}
h2, h3 {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
}

.quiz {
  color: whitesmoke;
  padding-left: initial;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 250%;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

.left {
  float: left;
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 7rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.stop-button {
  color: #56a5eb;
  float: right;
}
